* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(119deg, #3023ae, #53a0fd 47%, #6eb6cc 81%, #b4ec51);
    height: 100vh;
}

#header {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 15px;
}

#value1-el {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
}

#button-addon2 {
    background-color: white;
    color: darkblue;
    border: 1px solid darkblue;
}